<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href= "{% static 'survey/css/stylez.css' %}">
    <title>supme survey</title>
    <style>
      #survey-credit {
        display: flex;
        align-self: flex-end;
        font-size: x-small;
      }
    </style>
</head>
<body id="page-top" background="{% static 'survey/assets/supme-space.jpg' %}">
  <div class="wrapper">
        <div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="/static/survey/assets/survey8.jpg" alt="profile card">          
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">여덟번째 질문</div>
            <div class="profile-card__txt"><strong>당신이 선택한 무기로 사냥을 하려고 한다. <br>마침 5가지의 동물이 눈에 보인다.<br></strong></div>
            <div class="profile-card-loc">
              <span class="profile-card-loc__icon">
                <!-- <svg class="icon">
                  <use xlink:href="#icon-location"></use>
                </svg> -->
              </span>
      
              <span class="profile-card-loc__txt">
                당신이 사냥하려고 하는 동물은 무엇인가?
              </span>
            </div>

              <div class="profile-card-ctr">
                <form action="{% url 'survey:survey_q8' %}" method="post">
                  {% csrf_token %}
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="pork" name="food" value="pork">돼지</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="beef" name="food" value="beef">소</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="chicken" name="food" value="chicken">닭</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="fish" name="food" value="fish">물고기</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="shell" name="food" value="shell">조개</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="crustaceans" name="food" value="crustaceans">갑각류</button>
                  <button class="profile-card__button button--orange" type="radio" onclick="forceSubmit()" id="vegetable" name="food" value="vegetable">채소로도 충분하다</button>



                </form>
               
              </div>

            <script>
              function forceSubmit(){
                  document.forms[0].submit();
              }
            </script>
          </div>      
        </div>
      </div>

      <script src="/static/survey/js/survey.js"></script>

</body>
</html>