<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href= "{% static 'survey/css/stylez.css' %}">
    <title>supme survey</title>
    <style>
      #survey-credit {
        display: flex;
        align-self: flex-end;
        font-size: x-small;
      }
    </style>
</head>

<body id="page-top" background="{% static 'survey/assets/supme-space.jpg' %}">
    <div class="wrapper">
      <div class="profile-card js-profile-card">
        <div class="profile-card__img">
          <img src="/static/survey/assets/survey0.jpg" alt="profile card">
        </div>
    
        <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name">supme</div>
          <div class="profile-card__txt"><strong>재미있는 설문조사로 해보는  <br></strong></div>
          <div class="profile-card-loc">
            
    
            <span class="profile-card-loc__txt">
          여행 MBTI
            </span>
          </div>

            <div class="profile-card-ctr">
              <form action="{% url 'survey:survey_q0' %}" method="post">
                {% csrf_token %}
                <button class="profile-card__button button--orange" type="submit" id="survey" name="start" value="start">
                  좌충우돌 우주여행 시작하기
                </button>
              </form>
            </div>

          <!-- <script>
            function forceSubmit(){
                document.forms[0].submit();
            }
          </script> -->
        </div>      
      </div>
      <script src="/static/survey/js/survey.js"></script>
</body>
</html>