{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block active_sign-up %}active{% endblock %}
{% block main %}
{% load socialaccount %}

<style>

    .social-icon-kakao {
        border-radius: 50%;
        width: 70%;
        height: 70%;
        object-fit: cover;
        text-align: center;
        background-color: #03c75b00;
    }
    .social-icon {
        border-radius: 50%;
        width: 70%;
        height: 70%;
        object-fit: cover;
        text-align: center;
        background-color: #03c75b00;
    }

    .css-signup {
        margin: 35px 0px 15px;
        color: #ffffff; 
        font-size: 21px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
        text-decoration: underline;

    }
    .css-font {
        margin: 35px 0px 15px;
        color: #ffffff; 
        font-size: 15px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
    }
    .btn {
        font-size: 80%;
        border-radius: 0rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
        border-radius: 15px;
    }
    .btn-naver {
        color: white;
        background-color: #03c75a;
        border-color:#03c75a;
    }
    .btn-kakao {
        color: white;
        background-color: #FEE500;
        border-color: #FEE500;
    }
    .btn-google {
        color: white;
        background-color: #ea4335;
        border-color: #ea4335;
    }
</style>

<main class="flex-shrink-0">
    <!-- Page content-->
    <section class="py-5">
        <div class="container">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Log In</h1>
                    <!-- <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p> -->
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="login-form" action="{% url 'mypage:login' %}" method="post">
                            {% csrf_token %}
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input name="username" class="form-control" id="username" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="username">Username</label>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input name="password" class="form-control" id="password" type="password" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="password">Password</label>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit" style="font-size: 15px;">Login</button></div>
                        </form>
                    </div>
                </div>
                 <!-- social login  -->
                 <a class="font-size : 10px; justify-content-center"></a>
                 <div class="col-lg col-sm  gap-2 justify-content-center padding-top:20px" >  
                        {% csrf_token %}

                        <div class="css-signup">
                            <a style="border:center; color:#ffffff; font-size: 18px;" href ="/mypage/signup/">Sign-Up</a><br>
                        </div> 

                            <div class="css-font">SNS계정으로 간편하게 회원가입</div>

                        <div style = "text-align: center; display: flex; justify-content: center;">
                            <form action="{% provider_login_url 'kakao' %}" method="post" style="width:100px" >
                                {% csrf_token %}
                                <button style= "border : 0px solid rgba(255, 0, 0, 0);background: rgba(255, 0, 0, 0);"><img src="/static/home/img/log_kakao.png" class = "social-icon-kakao" alt="social_kakao"></button>
                            </form>

                            <form action="{% provider_login_url 'naver' %}" method="post" style="width:100px">
                                {% csrf_token %}
                                <button style= "border : 0px solid rgba(255, 0, 0, 0);background: rgba(255, 0, 0, 0); "><img src="/static/home/img/log_naver.png" class = "social-icon" alt="social_naver"></button>
                            </form>
                        </div>
                        <!-- <input class="btn btn-lg btn-naver" type="submit" value="네이버">
                    </form>
               
                    <form action="{% provider_login_url 'kakao' %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-lg btn-kakao" type="submit" value="카카오">
                    </form>
                
                    <form action="/mypage/signup/" method="get">
                        <input class="btn btn-lg" type="submit" value="회원가입" style="background-color:orange; border-color:orange; color:white"/>
                    </form>
                </div>
                  
                </div>
            </div>
            
            -->
                   <!-- Contact cards-->
            <!-- <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                    <div class="h5 mb-2">Chat with us</div>
                    <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                    <div class="h5">Ask the community</div>
                    <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                    <div class="h5">Support center</div>
                    <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                </div>
                <div class="col">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                    <div class="h5">Call us</div>
                    <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
                </div>
            </div> -->
        </div>



    </section>
</main>
{% endblock %}