{% extends "base.html" %}
{% block title %}회원정보입력{% endblock %}
{% block active_sign-up %}active{% endblock %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>회원정보 입력</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

   
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <main class="flex-shrink-0">
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">회원 정보 입력</h1>
                        <!-- <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p> -->
                    
                        <form action="{% url 'mypage:signup_add_info' %}" method="post">
                            {% csrf_token %}
                            <input style="margin-top:30px;" type="text" name="name" placeholder="이름"/><br>
                            <input style="margin-top:10px;" type="text" name="phone_number" placeholder="전화번호"/><br>

                            
                            <p style="font-size:18px; color:white; padding-top: 30px; ">성별을 선택해 주세요</p>
                            <div class="d-flex justify-content-center" style="padding:20px">
                                <input type="radio" id="male" name="gender" value="M" {% if M %}checked{% endif %} />
                                <label for="male" style="font-size:16px; color:white;">&nbsp;남 성&nbsp;&nbsp;</label>
                                <input type="radio" id="female" name="gender" value="W" {% if W %}checked{% endif %}/>
                                <label for="female" style="font-size:16px; color:white;">&nbsp;여 성</label><br>
                            </div>
                            <input style="margin-top:10px;" type="text" name="age" placeholder="연령대" {% if age %}value="{{ age }}"{% endif %}/><br>
                            <input style="margin-top:10px;" type="email" name="email" placeholder="이메일" {% if email %}value="{{ email }}"{% endif %}/><br>
                        </form>
                        {% csrf_token %}
                        <div class = >
                        <input style="margin-top:10px;"  type="submit" class="bbtn" />
                        <form action="{% url 'mypage:logout' %}" method="post">
                            <input style="margin-top:10px;" type="submit" value="로그아웃" class="bbtn" />
                        </form>
                        </div>


                        <!-- 제출/로그아웃 style css-->
                        <style>
                            .bbtn {
                                padding:5px 15px; 
                                background-color:#E2455A;
                                color:white; 
                                border:0 none;
                                cursor:pointer;
                                -webkit-border-radius: 5px;
                                border-radius: 5px; 
                            }
                        </style>



                    </div>
                </div>
                
            </div>
        </section>
    </main>
{% endblock %}
